
<%= render 'sidebar' %>

          
          <h1>Pouvons-nous vous aider ?</h1></div>

<%= render 'navbar' %>





  Ceci est une aide.


<%= link_to 'Retour', URI(request.referer || '').path %>


<%= render 'footer' %>
