
<%= render 'sidebar' %>

          <div class="icone-page"><img src="/images/historique.png"></div>
          <h1>Mon historique</h1></div>

<%= render 'navbar' %>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h2 class="h3 mb-0 text-gray-800">Aide</h1>
            <%= link_to 'Ajouter une démarche', new_event_path %>
          </div>



  Ceci est une aide.





<%= render 'footer' %>
