


<%= render 'sidebar' %>

          <div class="icone-page"><img src="/images/historique.png"></div>
          <h1>Ajouter un évènement</h1></div>

<%= render 'navbar' %>

<%= render 'form', event: @event %>

<%= render 'footer' %>

