
<%= render '/events/sidebar' %>

          <div class="icone-page"><img src="/images/historique.png"></div>
          <h1>Modifier une prothèse</h1></div>

<%= render '/events/navbar' %>

<%= render 'form', gear: @gear %>

<%= render '/events/footer' %>
