<!DOCTYPE html>
<html lang="fr" >

<head>
  <meta charset="UTF-8">
  <title>Mon suivi d'appareillage — E-Carnet</title>
  <meta name="description" content="Carnet de suivi d'appareillage en ligne pour assistance médicale.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

  <link rel="icon" href="favicon.ico" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

</head>

<body>

<%= yield %>
<%= csrf_meta_tags %>
<%= javascript_include_tag "application" %>

</body>

</html>

